a {
    text-decoration: hover;
}

body {
    width: 90%;
    min-width: 200px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

img, video {
    max-width: 90%;
}

.header {
    margin-bottom: 1em;
}