a {
    text-decoration: hover;
}

body {
    width: 90%;
    min-width: 200px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

img, video {
    max-width: 90%;
}

.header {
    margin-bottom: 1em;
}

.article-element {
    margin-bottom: 1em;
}

.element-timestamp {
    font-size: 0.8em;
}

.element-title {
    font-size: 1.3em;
}

.element-url {
    font-size: 0.8em;
}

.article-title {
    font-size: 1.5em;
    margin-top: 1em;
}

.article-url {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

:not(pre) > code {
    font-size: 0.9em;
    font-family: 'IBM Plex Mono', monospace;
    color: #ddd;
    background-color: #333;
}

pre {
    overflow: scroll;
    padding: 1em;
    border: 1px solid white;
}

pre > code {
    max-width: 90%;
    font-size: 0.9em;
    font-family: 'IBM Plex Mono', monospace;
}

.ending {
    text-align: center;
}