body {
  line-height: 1.5;
  color: #444;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  min-width: 200px;
  max-width: 800px;
  overflow-y: scroll;
}
body img,
body video {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
body ul {
  margin-left: 1rem;
  padding-left: 1rem;
}
body a {
  color: #444;
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  body {
    width: 90%;
  }
}
.header {
  color: #666;
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}
.header a {
  color: #666;
}
.footer {
  color: #666;
  text-align: right;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px #56887d;
}
.footer a {
  color: #666;
}
.button_no_decoration {
  color: #0f4d92;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: middle;
  font-family: sans-serif;
}
.site_title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.site_title a {
  color: #444;
  text-decoration: none;
}
.menu {
  text-align: right;
}
.menu a {
  text-decoration: none;
}
.prefix {
  margin-bottom: 2rem;
}
.title {
  font-size: 1.4rem;
  width: 90%;
}
.title a {
  text-decoration: none;
}
.archive_title a {
  text-decoration: none;
}
.taxonomies a {
  font-size: 0.9rem;
  color: #666;
  text-decoration: none;
}
.taxonomies_index a {
  font-size: 0.9rem;
  color: #666;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .taxonomies_index a {
    display: none;
  }
}
.taxonomies_list a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
pre {
  border: 1px solid #aaa;
  font-size: 0.8rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
}
:not(pre) > code {
  background-color: #54534d;
  color: #ffffbf;
  font-size: 0.8rem;
  padding: 0rem 0.2rem;
}
blockquote {
  border-left: 3px solid #444;
  font-style: italic;
  padding: 0.5rem;
  margin: 0.3rem;
}
table {
  max-width: 90%;
}
table th {
  padding: 10px;
}
table th,
td {
  border: solid 1px;
}
table td {
  padding: 10px;
}
button {
  color: #f5f5dc;
  background-color: #0f4d92;
  border: solid;
  border-radius: 3px;
  border-color: #0f4d92;
}
.break {
  border: 0;
  border-top: 4px double #8c8c8c;
  text-align: center;
  overflow: visible;
}
.break:after {
  content: "➳";
  display: inline-block;
  position: relative;
  top: -0.9rem;
  padding: 0 10px;
  background: #f5f5dc;
  color: #8c8c8c;
}
.info {
  padding-top: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  font-size: small;
  color: #666;
}
.info a {
  color: #666;
}
.pagination {
  margin-top: 1rem;
  text-align: center;
}
.caption {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

#acidpaper {
  font-size: 20px;
  font-weight: 600;
  background-image:linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}