{% extends "base.html" %}

{% block content %}

  <div class="header">
    <script defer type="text/javascript" src="/static/index.js"></script>

    <div id="acidpaper">acidpaper</div>
    <form action="" method="POST" id="add">
      <div>
        <input type="url" id="url" />
        <button type="button" onclick="fetch_add()">add</button>
      </div>
    </form>
  </div>

  {% for article in articles %}

      <p class="contents" id="{{ article.id }}">
        <div class="prefix">
          <div>
            {{ article.timestamp }}
          </div>
          <div class="title">
            <a href="{{ '/r/' ~ article.id | safe }}">{{ article.title }}</a>
            <button value='{{ article.id }}' onclick="fetch_delete(this)">delete</button>
          </div>
          <div class="beginning">
            {{ article.beginning }}
          </div>
          <div class="progress"><code>
            {% if article.progress < 10 %}
            [----------]
            {% elif article.progress < 20 %}
            [*---------]
            {% elif article.progress < 30 %}
            [**--------]
            {% elif article.progress < 40 %}
            [***-------]
            {% elif article.progress < 50 %}
            [****------]
            {% elif article.progress < 60 %}
            [*****-----]
            {% elif article.progress < 70 %}
            [******----]
            {% elif article.progress < 80 %}
            [*******---]
            {% elif article.progress < 90 %}
            [********--]
            {% elif article.progress < 99 %}
            [*********-]
            {% else %}
            [**********]
            {% endif %}
          </code></div>
        </div>
      </p>
      
  {% endfor %}

{% endblock content %}